/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background: linear-gradient(135deg, #6a11cb, #bb3f15);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    padding: 40px 0;
}

h2 {
    text-align: center;
    color: #a00b27;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

.project-image, .hobby-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(138, 11, 11, 0.62);
}

footer {
    background: #915353;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}